/*------------------ global styling -----------------------------*/
h2,
h3,
h6 {
    font-family: "Montserrat", sans-serif;
    color: rgb(52, 52, 52);
}

h1,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
}

p {
    color: #748182;
}

section {
    padding: 100px 0px;
}

.section-header h3 {
    font-weight: 900;
}

.back-g {
    background-color: #f7f7f7;
}

/*----------------------------------------------- nav start -------------------------------------------*/
.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
}

/* nav end */

/*----------------------------------------------- Header start----------------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header-social-icons span {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.header-social-icons span i {
    top: 25%;
}

/* header end */

/*----------------------------------------------- about start ----------------------------------*/
.progress-content .skills {
    width: 100%;
    background: #f7f7f7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) inset;
    position: relative;
}

.progress-content .skills div {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-content .skills h6 {
    left: 10px;
}

.progress-content .skills div p {
    position: absolute;
    right: 10px;
}

.about-img::after {
    content: "";
    background-image: url(../assets/dots.png);
    background-repeat: repeat;
    width: 75%;
    height: 75%;
    position: absolute;
    right: 20%;
    top: 30%;
    z-index: -1;
}

/* about end */

/*----------------------------------------------- Services start------------------------------- */
.icon {
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    border-radius: 50%;
    transition-duration: 0.5s;
}

.card:hover .icon {
    background-color: black;
    color: white;
}

/*--------------------------------------------------- work start -------------------------------------*/
.carousel-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #748182;
}

.carousel-item span {
    color: #888;
    font-size: 12px;
}

/* works end */

/*-------------------------------------------- portfolio start ---------------------------------*/
.porfolio-layer {
    position: absolute;
    inset: 5px;
    opacity: 0;
    transition-duration: 0.5s;
}

.porfolio-img:hover .porfolio-layer {
    opacity: 1;
}

.porfolio-layer a {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.porfolio-layer a:hover {
    background-color: white;
    border: black 1px solid;
}

.porfolio-layer a:hover i {
    color: black;
}

/* portfolio end */

/*--------------------------------------------- our team start -------------------------------------*/
.bg-col {
    background-color: #5b5b5b;
}

.bg-colo {
    background-color: #fdfbfb;
}

.over-lay {
    position: absolute;
    inset: 5px;
    opacity: 0;
    transform: rotateY(180deg) scale(0);
    transition-duration: 0.5s;
}

.team-card:hover .over-lay {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
}

.team-img img {
    transition-duration: 0.3s;
}

.team-card:hover img {
    transform: scale(1.05);
}

.over-lay a {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.over-lay a:hover {
    background-color: white;
    border: black 1px solid;
}

.over-lay a:hover i {
    color: black;
}

/* our team end */


/* -----------------------contact start -------------------------------------------*/
.contact-icon {
    background-color: #f7f7f7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.contact-icon {
    transition-duration: 0.5s;
}

.contact-cards:hover .contact-icon {
    background-color: black;
    color: white;
}

.section-header h3::after {
    content: "";
    background-image: url(../assets/dots.png);
    width: 30%;
    position: absolute;
    height: 22px;
    background-repeat: repeat;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    z-index: -1;
}

.bg-color {
    background-color: #f7f7f7;
}

.form-control:focus {
    box-shadow: none;
    background-color: #f7f7f7;
}

.btn-dark:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* contact end */

/*-------------------------------------------------------- loading--------------------------------------------------------------- */

.loadin-layer {
    opacity: 0;
    animation: load 2s ease-out;

}

@keyframes load {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}